:root {
    --hot-pink: #ff52bf;
    --very-pale-cyan: #ebfbff;
    --very-dark-cyan: #00252e;
    --grayish-blue:	#808d99;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}