/* 
Esta es la forma en la que el profesor acomoda estilos en cada clase, id, etiqueta, etc.:
1. Posicionamiento, dimensiones
2. Modelo de caja
3. Tipografía
4. Visuales
5. Otros */

:root {
  --hot-pink: #ff52bf;
  --very-pale-cyan: #ebfbff;
  --very-dark-cyan: #00252e;
  --grayish-blue: #808d99;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
}

.hero-main-container {
  min-width: 320px;
  width: 100%;
  height: auto;
  background-image: url("/assets/bg-hero-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 15px 20px;
}

.huddle-logo {
  width: 90px;
  height: auto;
}

.huddle-logo img {
  width: 100%;
}

.cta-btn {
  width: 100px;
  height: 25px;
  padding: 4px;
  background-color: var(--white);
  color: #00252e;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
}

.cta-btn:hover{
  color: var(--grayish-blue);
}

.hero-wrapper {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 0 40px 25px;
  text-align: center;
  color: var(--very-dark-cyan);
}

.hero-intro {
  max-width: 650px;
  margin: 0 auto;
}

.hero-intro h1 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
}

.hero-intro p {
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin-bottom: 20px;
}

.hero-cta-btn {
  display: block;
  margin: 0 auto;
  padding: 12px;
  width: 185px;
  height: 40px;
  background-color: var(--hot-pink);
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--very-pale-cyan);
  letter-spacing: 0.5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
}

.hero-cta-btn:hover{
  opacity: 70%;
}

.hero-mockup .mockup-container {
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
  height: auto;
  margin-top: 30px;
}

.mockup-container img {
  width: 100%;
  margin: 0 auto;
}

main {
  position: relative;
  min-width: 320px;
  width: 100%;
  height: auto;
}

.main-card-container {
  width: 100%;
  padding: 15px 20px 200px;
}

.main-card {
  width: 100%;
  max-width: 350px;
  height: 430px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 20px 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-img-container {
  width: 90%;
  /* Had to do a little fix here with max width to the card images so the text wouldn't get pushed down. May have to do some other trick for responsiveness */
  max-width: 235px;
  margin: 0 auto;
  margin-top: 25px;
}

.card-img-container img {
  width: 100%;
}

.card-content-container {
  margin-top: 40px;
  text-align: center;
}

.card-content-container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--very-dark-cyan);
}

.card-content-container p {
  margin-top: 15px;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--grayish-blue);
}

.main-cta-card {
  position: absolute;
  text-align: center;
  top: 1540px;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 400px;
  height: 140px;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
}

.main-cta-card h2 {
  margin-top: 35px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--very-dark-cyan);
}

.main-cta-card .main-cta-btn {
  display: block;
  margin: 0 auto;
  padding: 12px;
  width: 185px;
  height: 40px;
  background-color: var(--hot-pink);
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--very-pale-cyan);
  letter-spacing: 0.5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.15);
}

.main-cta-card .main-cta-btn:hover{
  opacity: 70%;
}

footer {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: 100px;
  background-color: var(--very-dark-cyan);
}

.footer-contact-info {
  width: 100%;
  height: auto;
  padding: 20px;
}

.footer-logo-container {
  width: 135px;
  height: auto;
  margin-bottom: 20px;
}

.footer-logo-container img {
  width: 100%;
}

.contact-info-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  color: var(--white);
  font-size: 1.35rem;
  line-height: 2.2rem;
}

footer .contact-info-wrapper .location img {
  width: 13px;
  margin-right: 16px;
  margin-top: 5.3px;
}
footer .contact-info-wrapper .phone img {
  width: 16px;
  margin-right: 16px;
  margin-top: 2px;
}
footer .contact-info-wrapper .email img {
  width: 16px;
  margin-right: 16px;
  margin-top: 5.3px;
}

.footer-contact-links {
  width: 100%;
  height: auto;
  padding: 20px;
  color: var(--white);
  font-size: 1.5rem;
}

.contact-links-list li {
  list-style: none;
  margin-bottom: 14px;
}
.contact-links-list li a {
  text-decoration: none;
  color: var(--white);
}

.footer-social-links {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: 50%; */
 margin: 0 auto;
}

.social-links-container {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.social-links-container .fa-brands {
  color: var(--white);
  margin-right: 12px;
  font-size: 2rem;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  color: var(--white);
  font-size: 1rem;
}

.footer-copyright span {
  margin-right: 4px;
}
