/* 
Esta es la forma en la que el profesor acomoda estilos en cada clase, id, etiqueta, etc.:
1. Posicionamiento, dimensiones
2. Modelo de caja
3. Tipografía
4. Visuales
5. Otros */

:root {
    --hot-pink: #ff52bf;
    --very-pale-cyan: #ebfbff;
    --very-dark-cyan: #00252e;
    --grayish-blue:	#808d99;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

.hero-main-container {
    min-width: 320px;
    width: 100%;
    height: auto;
    background-image: url('/assets/bg-hero-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}